body {
    background-image: linear-gradient(
90deg, #33b7e2, #5e62b0, #dc307c);
}
footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: rgb(34, 33, 33);
    color: white;
  }
  h1{
      text-align: center;
  }
  .lead{
      text-align: center;
  }
  p{
      text-align: center;
      color: white;
      font-size: x-large;
     

  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: 20%;
    margin-top: 2cm;
    margin-bottom: 2cm;
    width: 50%;
    
  }
  body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");

  /* Set a specific height */
  height: 20%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}